<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">body {margin:0px; padding:0px; width:100%; height:100%; color:#000; overflow:hidden;}

    #pl-cover {
        background-color: #ffffff;
        color: #000000;
        position:absolute; top:0px; left:0px;
        font-family: sans-serif;
        text-align: center;
        width:1280px; height:768px;
        z-index:10000;
    }
    </style>
    <div id="pl-cover"><br />
        <br />
        <br />
        <br />
        <br />
        Loading playlist... Please wait.</div>
    <script type="text/javascript">

        // ADJUSTABLE STUFF ================================================================
        var preload       = 100;      /* Let each frame load X/ms onCreate               */
        var fade_speed    = 60;       /* FADE SPEED - 10=fast, 100=slow                  */
        var slides        = 33;       /* Number of frames                                */
        var debug         = false;    /* I use this when modifying the playlist          */
        var testing       = false;    /* Console only logs frame switches                */
        // END ADJUSTABLE STUFF ============================================================


        var plnum = 0;
        var plast = 0;
        var PLtime = new Array(slides);
        var PLcontent = new Array(slides);

        PLtime[0] = 26000; //45806
        PLtime[1] = 18000; //29751
        PLtime[2] = 5000; //29738
        PLtime[3] = 31000; //30634
        PLtime[4] = 9000; //29737
        PLtime[5] = 21000; //49058
        PLtime[6] = 10000; //29740
        PLtime[7] = 19000; //28538
        PLtime[8] = 5000; //the video is messed up somehow 31000; //48813
        PLtime[9] = 9000; //29734
        PLtime[10] = 21000; //49059
        PLtime[11] = 31000; //29755
        PLtime[12] = 19000; //29752
        PLtime[13] = 9000; //29733
        PLtime[14] = 34000; //28537
        PLtime[15] = 21000; //49060
        PLtime[16] = 20000; //29754
        PLtime[17] = 9000; //29736
        PLtime[18] = 31000; //29750
        PLtime[19] = 12000; //29729
        PLtime[20] = 21000; //49061
        PLtime[21] = 12000; //29749
        PLtime[22] = 9000; //29735
        PLtime[23] = 17000; //28541
        PLtime[24] = 9000; //29733
        PLtime[25] = 21000; //49062
        PLtime[26] = 19000; //28539
        PLtime[27] = 9000; //29730
        PLtime[28] = 94000; //28536
        PLtime[29] = 21000; //49063
        PLtime[30] = 66000; //48814
        PLtime[31] = 29000; //29753
        PLtime[32] = 9000; //29731


        PLcontent[0] = '%3C!doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%0A%20%20font-family%3A%27Helvetica%27%3B%0A%20%20background-image%3A%20url(%27ABC_Template5.jpg%27)%2C%20url(%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27)%3B%0A%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20color%3A%20%23000%3B%0A%20%20text-align%3A%20center%3B%0A%7D%0Atd%20%7B%0A%20%20font-size%3A%2047px%3B%20font-weight%3Abold%3B%20vertical-align%3Atop%3B%0A%20%20text-align%3A%20right%3B%0A%20%20line-height%3A%2070px%3B%0A%7D%0A.center%20%7B%0A%20%20text-align%3A%20center%3B%0A%20%20width%3A%20600px%3B%0A%20%20height%3A%20600px%3B%0A%20%20position%3A%20absolute%3B%0A%20%20top%3A%20200px%3B%0A%20%20left%3A%20600px%3B%0A%0A%7D%0A.header%20%7B%0Atext-align%3A%20center%3B%0A%20%20font-size%3A%2090px%3B%0A%20%20font-family%3A%20%20%27Helvetica%27%3B%0A%20%20color%3A%20%23fff%3B%0A%20%20padding-bottom%3A%2050px%3B%0A%20%20text-transform%3A%20uppercase%3B%0A%7D%0A.large%20%7B%0A%20%20font-size%3A%2064px%3B%0A%20%20line-height%3A%2064px%3B%0A%20%20text-align%3A%20left%3B%0A%7D%0A.red%20%7B%0A%20%20color%3A%20%23cf0d2f%3B%0A%7D%0A.small%20%7B%20font-size%3A%2044px%3B%20line-height%3A%2044px%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%201280px%3B%20top%3A%2050px%20!important%3B%20left%3A%200px%20!important%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EMay%20Specials%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EKnob%20Creek%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%201%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FKnobCreek.png%27%22%20src%3D%22KnobCreek.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2471.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%247.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2464.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EJim%20Beam%20Black%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%202%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FJimBeamBlack.png%27%22%20src%3D%22JimBeamBlack.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2426.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2422.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EHenry%20McKenna%20Single%20Barrel%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%203%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FHenryMcKennaSingleBarrel.png%27%22%20src%3D%22HenryMcKennaSingleBarrel.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2428.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2424.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ELarceny%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%204%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FLarceny.png%27%22%20src%3D%22Larceny.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2428.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%243.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2425.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%2F*%20HEY!%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..*%2F%0A%20%20var%20thisPotato%20%3D%200%3B%0A%20%20var%20potatoDiv%20%3D%20document.getElementById(%27rotatoPotato%27)%3B%0A%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0Awindow.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20function%20opac%20(direction%2C%20v)%20%7B%0A%20%20%20%20if%20(direction%20%3D%3D%20%22in%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%20else%20if%20(direction%20%3D%3D%20%22out%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeIn%20(obj)%20%7B%0A%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B)%20%7B%0A%20%20%20%20%20%20setTimeout(%27opac(%22in%22%2C%20%27%2Bi%2B%27)%27%2C%2050*i)%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeOut%20(obj)%20%7B%0A%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20if%20(obj.style.opacity%20%3E%200)%20%7B%0A%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20for%20(var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20setTimeout(%27opac(%22out%22%2C%20%27%2Bi%2B%27)%27%2C%2050*j)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20%0A%20%20function%20switchPotato%20()%20%7B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(potatoes%5Bi%5D.innerHTML%20!%3D%20undefined)%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3D%3D%20thisPotato)%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeIn(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeOut(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20if%20(thisPotato%20!%3D%20potatoes.length-1)%20window.switchSlide%20%3D%20setTimeout(%27switchPotato()%27%2C%205000)%3B%0A%20%20%7D%0A%20%20switchPotato()%3B%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[1] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23fff%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22Goosevid_C.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FGoosevid_C.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[2] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_6.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_6.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[3] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23fff%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%09background-image%3Aurl%28MM_mm46_complicated-vid-bg.png%29%2C%20url%28http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FMM_mm46_complicated-vid-bg.png%29%3B%20background-repeat%3Ano-repeat%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22MM_mm46_complicated.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FMM_mm46_complicated.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[4] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_5.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_5.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[5] = '%3C!doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%0A%20%20font-family%3A%27Helvetica%27%3B%0A%20%20background-image%3A%20url(%27ABC_Template5.jpg%27)%2C%20url(%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27)%3B%0A%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20color%3A%20%23000%3B%0A%20%20text-align%3A%20center%3B%0A%7D%0Atd%20%7B%0A%20%20font-size%3A%2047px%3B%20font-weight%3Abold%3B%20vertical-align%3Atop%3B%0A%20%20text-align%3A%20right%3B%0A%20%20line-height%3A%2070px%3B%0A%7D%0A.center%20%7B%0A%20%20text-align%3A%20center%3B%0A%20%20width%3A%20600px%3B%0A%20%20height%3A%20600px%3B%0A%20%20position%3A%20absolute%3B%0A%20%20top%3A%20200px%3B%0A%20%20left%3A%20600px%3B%0A%0A%7D%0A.header%20%7B%0Atext-align%3A%20center%3B%0A%20%20font-size%3A%2090px%3B%0A%20%20font-family%3A%20%20%27Helvetica%27%3B%0A%20%20color%3A%20%23fff%3B%0A%20%20padding-bottom%3A%2050px%3B%0A%20%20text-transform%3A%20uppercase%3B%0A%7D%0A.large%20%7B%0A%20%20font-size%3A%2064px%3B%0A%20%20line-height%3A%2064px%3B%0A%20%20text-align%3A%20left%3B%0A%7D%0A.red%20%7B%0A%20%20color%3A%20%23cf0d2f%3B%0A%7D%0A.small%20%7B%20font-size%3A%2044px%3B%20line-height%3A%2044px%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%201280px%3B%20top%3A%2050px%20!important%3B%20left%3A%200px%20!important%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EMay%20Specials%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EWoodford%20Reserve%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%201%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FWoodfordReserve.png%27%22%20src%3D%22WoodfordReserve.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2437.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%246.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2431.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EJefferson%26%2339%3Bs%20Reserve%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%202%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FJeffersonsSmallBatchBourbon.png%27%22%20src%3D%22JeffersonsSmallBatchBourbon%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2453.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2448.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EChivas%20Regal%2012Y%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%203%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FChivasRegal.png%27%22%20src%3D%22ChivasRegal.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2474.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2469.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EGrand%20MacNish%2012Y%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%204%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FGrandMacnish.png%27%22%20src%3D%22GrandMacnish.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2424.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2420.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%2F*%20HEY!%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..*%2F%0A%20%20var%20thisPotato%20%3D%200%3B%0A%20%20var%20potatoDiv%20%3D%20document.getElementById(%27rotatoPotato%27)%3B%0A%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0Awindow.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20function%20opac%20(direction%2C%20v)%20%7B%0A%20%20%20%20if%20(direction%20%3D%3D%20%22in%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%20else%20if%20(direction%20%3D%3D%20%22out%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeIn%20(obj)%20%7B%0A%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B)%20%7B%0A%20%20%20%20%20%20setTimeout(%27opac(%22in%22%2C%20%27%2Bi%2B%27)%27%2C%2050*i)%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeOut%20(obj)%20%7B%0A%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20if%20(obj.style.opacity%20%3E%200)%20%7B%0A%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20for%20(var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20setTimeout(%27opac(%22out%22%2C%20%27%2Bi%2B%27)%27%2C%2050*j)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20%0A%20%20function%20switchPotato%20()%20%7B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(potatoes%5Bi%5D.innerHTML%20!%3D%20undefined)%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3D%3D%20thisPotato)%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeIn(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeOut(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20if%20(thisPotato%20!%3D%20potatoes.length-1)%20window.switchSlide%20%3D%20setTimeout(%27switchPotato()%27%2C%208000)%3B%0A%20%20%7D%0A%20%20switchPotato()%3B%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[6] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27EvanW_AppleOrdchard_1.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEvanW_AppleOrdchard_1.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[7] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%09%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%3Csource%20src%3D%22ABCMountGayRum_Lesson_MakeThePerfectRumPunch.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABCMountGayRum_Lesson_MakeThePerfectRumPunch.ogv%22%20%2F%3E%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[8] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%20background-repeat%3Ano-repeat%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%3Csource%20src%3D%22BACARDI150THTVSPOT.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FBACARDI150THTVSPOT.ogv%22%20%2F%3E%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[9] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_2.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_2.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[10] = '%3C!doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%0A%20%20font-family%3A%27Helvetica%27%3B%0A%20%20background-image%3A%20url(%27ABC_Template5.jpg%27)%2C%20url(%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27)%3B%0A%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20color%3A%20%23000%3B%0A%20%20text-align%3A%20center%3B%0A%7D%0Atd%20%7B%0A%20%20font-size%3A%2047px%3B%20font-weight%3Abold%3B%20vertical-align%3Atop%3B%0A%20%20text-align%3A%20right%3B%0A%20%20line-height%3A%2070px%3B%0A%7D%0A.center%20%7B%0A%20%20text-align%3A%20center%3B%0A%20%20width%3A%20600px%3B%0A%20%20height%3A%20600px%3B%0A%20%20position%3A%20absolute%3B%0A%20%20top%3A%20200px%3B%0A%20%20left%3A%20600px%3B%0A%0A%7D%0A.header%20%7B%0Atext-align%3A%20center%3B%0A%20%20font-size%3A%2090px%3B%0A%20%20font-family%3A%20%20%27Helvetica%27%3B%0A%20%20color%3A%20%23fff%3B%0A%20%20padding-bottom%3A%2050px%3B%0A%20%20text-transform%3A%20uppercase%3B%0A%7D%0A.large%20%7B%0A%20%20font-size%3A%2064px%3B%0A%20%20line-height%3A%2064px%3B%0A%20%20text-align%3A%20left%3B%0A%7D%0A.red%20%7B%0A%20%20color%3A%20%23cf0d2f%3B%0A%7D%0A.small%20%7B%20font-size%3A%2044px%3B%20line-height%3A%2044px%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%201280px%3B%20top%3A%2050px%20!important%3B%20left%3A%200px%20!important%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EMay%20Specials%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EForty%20Creek%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%201%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FFortyCreek.png%27%22%20src%3D%22FortyCreek.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2442.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2437.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EBeefeater%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%202%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FBeefeater.png%27%22%20src%3D%22Beefeater.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2419.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%243.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2416.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EPlymouth%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%203%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FPlymouth.png%27%22%20src%3D%22Plymouth.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2436.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2431.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EAmerican%20Harvest%20Organic%20Spirit%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%204%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FAmericanHarvest.png%27%22%20src%3D%22AmericanHarvest.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2425.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%246.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2419.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%2F*%20HEY!%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..*%2F%0A%20%20var%20thisPotato%20%3D%200%3B%0A%20%20var%20potatoDiv%20%3D%20document.getElementById(%27rotatoPotato%27)%3B%0A%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0Awindow.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20function%20opac%20(direction%2C%20v)%20%7B%0A%20%20%20%20if%20(direction%20%3D%3D%20%22in%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%20else%20if%20(direction%20%3D%3D%20%22out%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeIn%20(obj)%20%7B%0A%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B)%20%7B%0A%20%20%20%20%20%20setTimeout(%27opac(%22in%22%2C%20%27%2Bi%2B%27)%27%2C%2050*i)%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeOut%20(obj)%20%7B%0A%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20if%20(obj.style.opacity%20%3E%200)%20%7B%0A%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20for%20(var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20setTimeout(%27opac(%22out%22%2C%20%27%2Bi%2B%27)%27%2C%2050*j)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20%0A%20%20function%20switchPotato%20()%20%7B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(potatoes%5Bi%5D.innerHTML%20!%3D%20undefined)%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3D%3D%20thisPotato)%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeIn(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeOut(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20if%20(thisPotato%20!%3D%20potatoes.length-1)%20window.switchSlide%20%3D%20setTimeout(%27switchPotato()%27%2C%208000)%3B%0A%20%20%7D%0A%20%20switchPotato()%3B%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[11] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22Rumvid_C.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FRumvid_C.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[12] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22Goosevid_D.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FGoosevid_D.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[13] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_1.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_1.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[14] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%09%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%3Csource%20src%3D%22ABCMountGayBlackBarrel.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABCMountGayBlackBarrel.ogv%22%20%2F%3E%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[15] = '%3C!doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%0A%20%20font-family%3A%27Helvetica%27%3B%0A%20%20background-image%3A%20url(%27ABC_Template5.jpg%27)%2C%20url(%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27)%3B%0A%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20color%3A%20%23000%3B%0A%20%20text-align%3A%20center%3B%0A%7D%0Atd%20%7B%0A%20%20font-size%3A%2047px%3B%20font-weight%3Abold%3B%20vertical-align%3Atop%3B%0A%20%20text-align%3A%20right%3B%0A%20%20line-height%3A%2070px%3B%0A%7D%0A.center%20%7B%0A%20%20text-align%3A%20center%3B%0A%20%20width%3A%20600px%3B%0A%20%20height%3A%20600px%3B%0A%20%20position%3A%20absolute%3B%0A%20%20top%3A%20200px%3B%0A%20%20left%3A%20600px%3B%0A%0A%7D%0A.header%20%7B%0Atext-align%3A%20center%3B%0A%20%20font-size%3A%2090px%3B%0A%20%20font-family%3A%20%20%27Helvetica%27%3B%0A%20%20color%3A%20%23fff%3B%0A%20%20padding-bottom%3A%2050px%3B%0A%20%20text-transform%3A%20uppercase%3B%0A%7D%0A.large%20%7B%0A%20%20font-size%3A%2064px%3B%0A%20%20line-height%3A%2064px%3B%0A%20%20text-align%3A%20left%3B%0A%7D%0A.red%20%7B%0A%20%20color%3A%20%23cf0d2f%3B%0A%7D%0A.small%20%7B%20font-size%3A%2044px%3B%20line-height%3A%2044px%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%201280px%3B%20top%3A%2050px%20!important%3B%20left%3A%200px%20!important%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EMay%20Specials%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EFireFly%20Sweet%20Tea%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%201%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FFireFlySweetTea.png%27%22%20src%3D%22FireFlySweetTea.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2437.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%247.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2430.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ERain%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%202%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FRainVodka.png%27%22%20src%3D%22RainVodka.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2429.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%243.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2426.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EAbsolut%20Orient%20Apple%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%203%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FAbsolutOrientApple_2.png%27%22%20src%3D%22AbsolutOrientApple_2.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2421.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2417.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EChopin%20Potato%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%204%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FChopinPotato.png%27%22%20src%3D%22ChopinPotato.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2449.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2444.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%2F*%20HEY!%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..*%2F%0A%20%20var%20thisPotato%20%3D%200%3B%0A%20%20var%20potatoDiv%20%3D%20document.getElementById(%27rotatoPotato%27)%3B%0A%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0Awindow.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20function%20opac%20(direction%2C%20v)%20%7B%0A%20%20%20%20if%20(direction%20%3D%3D%20%22in%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%20else%20if%20(direction%20%3D%3D%20%22out%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeIn%20(obj)%20%7B%0A%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B)%20%7B%0A%20%20%20%20%20%20setTimeout(%27opac(%22in%22%2C%20%27%2Bi%2B%27)%27%2C%2050*i)%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeOut%20(obj)%20%7B%0A%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20if%20(obj.style.opacity%20%3E%200)%20%7B%0A%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20for%20(var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20setTimeout(%27opac(%22out%22%2C%20%27%2Bi%2B%27)%27%2C%2050*j)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20%0A%20%20function%20switchPotato%20()%20%7B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(potatoes%5Bi%5D.innerHTML%20!%3D%20undefined)%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3D%3D%20thisPotato)%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeIn(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeOut(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20if%20(thisPotato%20!%3D%20potatoes.length-1)%20window.switchSlide%20%3D%20setTimeout(%27switchPotato()%27%2C%208000)%3B%0A%20%20%7D%0A%20%20switchPotato()%3B%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[16] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22Rumvid_B.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FRumvid_B.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[17] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_4.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_4.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[18] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22Goosevid_B.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FGoosevid_B.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[19] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%2C%20html%20%7B%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0Abackground-image%3Aurl%28%27BernheimPPTforAvery2.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FBernheimPPTforAvery2.jpg%27%29%3B%0Abackground-repeat%3Ano-repeat%3B%0Abackground-position%3Acenter%3B%0Aheight%3A100%25%3B%20width%3A100%25%3B%0Apadding%3A0%3B%20margin%3A0%3B%0A-webkit-background-size%3A%20cover%3B%0A-moz-background-size%3A%20cover%3B%0A-o-background-size%3A%20cover%3B%0Abackground-size%3A%20cover%3B%7D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[20] = '%3C!doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%0A%20%20font-family%3A%27Helvetica%27%3B%0A%20%20background-image%3A%20url(%27ABC_Template5.jpg%27)%2C%20url(%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27)%3B%0A%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20color%3A%20%23000%3B%0A%20%20text-align%3A%20center%3B%0A%7D%0Atd%20%7B%0A%20%20font-size%3A%2047px%3B%20font-weight%3Abold%3B%20vertical-align%3Atop%3B%0A%20%20text-align%3A%20right%3B%0A%20%20line-height%3A%2070px%3B%0A%7D%0A.center%20%7B%0A%20%20text-align%3A%20center%3B%0A%20%20width%3A%20600px%3B%0A%20%20height%3A%20600px%3B%0A%20%20position%3A%20absolute%3B%0A%20%20top%3A%20200px%3B%0A%20%20left%3A%20600px%3B%0A%0A%7D%0A.header%20%7B%0Atext-align%3A%20center%3B%0A%20%20font-size%3A%2090px%3B%0A%20%20font-family%3A%20%20%27Helvetica%27%3B%0A%20%20color%3A%20%23fff%3B%0A%20%20padding-bottom%3A%2050px%3B%0A%20%20text-transform%3A%20uppercase%3B%0A%7D%0A.large%20%7B%0A%20%20font-size%3A%2064px%3B%0A%20%20line-height%3A%2064px%3B%0A%20%20text-align%3A%20left%3B%0A%7D%0A.red%20%7B%0A%20%20color%3A%20%23cf0d2f%3B%0A%7D%0A.small%20%7B%20font-size%3A%2044px%3B%20line-height%3A%2044px%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%201280px%3B%20top%3A%2050px%20!important%3B%20left%3A%200px%20!important%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EMay%20Specials%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EBlue%20Chair%20Bay%20Coconut%20Rum%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%201%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FBlueChair_1.png%27%22%20src%3D%22BlueChair_1.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2418.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%243.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2415.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ECalypso%20Spiced%20Rum%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%202%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FCalypsoSpicedRum.png%27%22%20src%3D%22CalypsoSpicedRum.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2417.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2413.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EAnsac%20VS%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%203%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2Fansac.png%27%22%20src%3D%22ansac.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2453.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2449.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ETwenty%20Grand%20Rose%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%204%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FTwentyGrandRose.png%27%22%20src%3D%22TwentyGrandRose.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2429.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2425.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%2F*%20HEY!%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..*%2F%0A%20%20var%20thisPotato%20%3D%200%3B%0A%20%20var%20potatoDiv%20%3D%20document.getElementById(%27rotatoPotato%27)%3B%0A%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0Awindow.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20function%20opac%20(direction%2C%20v)%20%7B%0A%20%20%20%20if%20(direction%20%3D%3D%20%22in%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%20else%20if%20(direction%20%3D%3D%20%22out%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeIn%20(obj)%20%7B%0A%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B)%20%7B%0A%20%20%20%20%20%20setTimeout(%27opac(%22in%22%2C%20%27%2Bi%2B%27)%27%2C%2050*i)%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeOut%20(obj)%20%7B%0A%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20if%20(obj.style.opacity%20%3E%200)%20%7B%0A%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20for%20(var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20setTimeout(%27opac(%22out%22%2C%20%27%2Bi%2B%27)%27%2C%2050*j)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20%0A%20%20function%20switchPotato%20()%20%7B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(potatoes%5Bi%5D.innerHTML%20!%3D%20undefined)%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3D%3D%20thisPotato)%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeIn(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeOut(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20if%20(thisPotato%20!%3D%20potatoes.length-1)%20window.switchSlide%20%3D%20setTimeout(%27switchPotato()%27%2C%208000)%3B%0A%20%20%7D%0A%20%20switchPotato()%3B%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[21] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22Goosevid_A.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FGoosevid_A.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[22] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_3.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_3.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[23] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23fff%3B%20margin%3A0px%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20id%3D%22vid%22%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%3Csource%20src%3D%22JagerSpice.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FJagerSpice.ogv%22%20%2F%3E%3C%2Fvideo%3E%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0Avar%20video%20%3D%20document.getElementById%28%27vid%27%29%3B%0Avideo.onplay%20%3D%20function%28%29%7B%0A%20%20video.volume%20%3D%200.3%3B%0A%7D%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[24] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27Edrington_1.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FEdrington_1.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[25] = '%3C!doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%0A%20%20font-family%3A%27Helvetica%27%3B%0A%20%20background-image%3A%20url(%27ABC_Template5.jpg%27)%2C%20url(%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27)%3B%0A%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20color%3A%20%23000%3B%0A%20%20text-align%3A%20center%3B%0A%7D%0Atd%20%7B%0A%20%20font-size%3A%2047px%3B%20font-weight%3Abold%3B%20vertical-align%3Atop%3B%0A%20%20text-align%3A%20right%3B%0A%20%20line-height%3A%2070px%3B%0A%7D%0A.center%20%7B%0A%20%20text-align%3A%20center%3B%0A%20%20width%3A%20600px%3B%0A%20%20height%3A%20600px%3B%0A%20%20position%3A%20absolute%3B%0A%20%20top%3A%20200px%3B%0A%20%20left%3A%20600px%3B%0A%0A%7D%0A.header%20%7B%0Atext-align%3A%20center%3B%0A%20%20font-size%3A%2090px%3B%0A%20%20font-family%3A%20%20%27Helvetica%27%3B%0A%20%20color%3A%20%23fff%3B%0A%20%20padding-bottom%3A%2050px%3B%0A%20%20text-transform%3A%20uppercase%3B%0A%7D%0A.large%20%7B%0A%20%20font-size%3A%2064px%3B%0A%20%20line-height%3A%2064px%3B%0A%20%20text-align%3A%20left%3B%0A%7D%0A.red%20%7B%0A%20%20color%3A%20%23cf0d2f%3B%0A%7D%0A.small%20%7B%20font-size%3A%2044px%3B%20line-height%3A%2044px%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%201280px%3B%20top%3A%2050px%20!important%3B%20left%3A%200px%20!important%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EMay%20Specials%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EWild%20Turkey%20American%20Honey%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%201%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FWildTurkeyAmericanHoney.png%27%22%20src%3D%22WildTurkeyAmericanHoney.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2423.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2419.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ERyan%26%2339%3Bs%20Irish%20Cream%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%202%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FRyansIrishCream.png%27%22%20src%3D%22RyansIrishCream.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2419.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2415.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EPallini%20Limoncello%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%203%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FPalliniLimoncello.png%27%22%20src%3D%22PalliniLimoncello.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2423.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%244.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2419.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ECasamigos%20Blanco%20Tequila%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%204%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FCasamingosBlanco.png%27%22%20src%3D%22CasamingosBlanco.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2444.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2439.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%2F*%20HEY!%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..*%2F%0A%20%20var%20thisPotato%20%3D%200%3B%0A%20%20var%20potatoDiv%20%3D%20document.getElementById(%27rotatoPotato%27)%3B%0A%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0Awindow.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20function%20opac%20(direction%2C%20v)%20%7B%0A%20%20%20%20if%20(direction%20%3D%3D%20%22in%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%20else%20if%20(direction%20%3D%3D%20%22out%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeIn%20(obj)%20%7B%0A%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B)%20%7B%0A%20%20%20%20%20%20setTimeout(%27opac(%22in%22%2C%20%27%2Bi%2B%27)%27%2C%2050*i)%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeOut%20(obj)%20%7B%0A%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20if%20(obj.style.opacity%20%3E%200)%20%7B%0A%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20for%20(var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20setTimeout(%27opac(%22out%22%2C%20%27%2Bi%2B%27)%27%2C%2050*j)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20%0A%20%20function%20switchPotato%20()%20%7B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(potatoes%5Bi%5D.innerHTML%20!%3D%20undefined)%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3D%3D%20thisPotato)%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeIn(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeOut(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20if%20(thisPotato%20!%3D%20potatoes.length-1)%20window.switchSlide%20%3D%20setTimeout(%27switchPotato()%27%2C%208000)%3B%0A%20%20%7D%0A%20%20switchPotato()%3B%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[26] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22ABCMountGayRum_TheOriginalRum.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABCMountGayRum_TheOriginalRum.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[27] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%2C%20html%20%7B%0D%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0D%0Abackground-image%3Aurl%28%27BernheimPPTforAvery.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FBernheimPPTforAvery.jpg%27%29%3B%0D%0Abackground-repeat%3Ano-repeat%3B%0D%0Abackground-position%3Acenter%3B%0D%0Aheight%3A100%25%3B%20width%3A100%25%3B%0D%0Apadding%3A0%3B%20margin%3A0%3B%0D%0A-webkit-background-size%3A%20cover%3B%0D%0A-moz-background-size%3A%20cover%3B%0D%0A-o-background-size%3A%20cover%3B%0D%0Abackground-size%3A%20cover%3B%7D%0D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[28] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23fff%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%09background-image%3Aurl%28ABCBobPeters_TitosKombuchaMule-vid-bg.png%29%2C%20url%28http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABCBobPeters_TitosKombuchaMule-vid-bg.png%29%3B%20background-repeat%3Ano-repeat%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A50%25%3B%20margin-left%3A-840px%3B%20width%3A1680px%3B%20height%3A768px%3B%22%3E%3Csource%20src%3D%22ABCBobPeters_TitosKombuchaMule.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABCBobPeters_TitosKombuchaMule.ogv%22%20%2F%3E%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[29] = '%3C!doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%0A%20%20font-family%3A%27Helvetica%27%3B%0A%20%20background-image%3A%20url(%27ABC_Template5.jpg%27)%2C%20url(%27http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FABC-Corp%2FABC_Template5.jpg%27)%3B%0A%20%20background-repeat%3Ano-repeat%3B%20background-color%3A%23fff%3B%0A%20%20color%3A%20%23000%3B%0A%20%20text-align%3A%20center%3B%0A%7D%0Atd%20%7B%0A%20%20font-size%3A%2047px%3B%20font-weight%3Abold%3B%20vertical-align%3Atop%3B%0A%20%20text-align%3A%20right%3B%0A%20%20line-height%3A%2070px%3B%0A%7D%0A.center%20%7B%0A%20%20text-align%3A%20center%3B%0A%20%20width%3A%20600px%3B%0A%20%20height%3A%20600px%3B%0A%20%20position%3A%20absolute%3B%0A%20%20top%3A%20200px%3B%0A%20%20left%3A%20600px%3B%0A%0A%7D%0A.header%20%7B%0Atext-align%3A%20center%3B%0A%20%20font-size%3A%2090px%3B%0A%20%20font-family%3A%20%20%27Helvetica%27%3B%0A%20%20color%3A%20%23fff%3B%0A%20%20padding-bottom%3A%2050px%3B%0A%20%20text-transform%3A%20uppercase%3B%0A%7D%0A.large%20%7B%0A%20%20font-size%3A%2064px%3B%0A%20%20line-height%3A%2064px%3B%0A%20%20text-align%3A%20left%3B%0A%7D%0A.red%20%7B%0A%20%20color%3A%20%23cf0d2f%3B%0A%7D%0A.small%20%7B%20font-size%3A%2044px%3B%20line-height%3A%2044px%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%201280px%3B%20top%3A%2050px%20!important%3B%20left%3A%200px%20!important%3B%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EMay%20Specials%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20id%3D%22rotatoPotato%22%3E%0A%3Ctable%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ELunazul%20Blanco%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%201%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FLunazulTequilaBlanco.png%27%22%20src%3D%22LunazulTequilaBlanco.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E1.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2434.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2429.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ESauza%20901%20Silver%20Tequila%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%202%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FSauza901.png%27%22%20src%3D%22Sauza901.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2429.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2424.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3EHerradura%20Reposado%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%203%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FHerraduraReposado.png%27%22%20src%3D%22HerraduraReposado.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2444.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%245.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2439.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20border%3D%220%22%20class%3D%22slides%20text%22%20style%3D%22top%3A%20200px%3B%20position%3A%20absolute%3B%20left%3A%2080px%3B%20opacity%3A%200%3B%22%20width%3D%221100%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22large%20red%22%3ECardinal%20Gin%3C%2Ftd%3E%0A%09%09%09%3Ctd%20rowspan%3D%225%22%20style%3D%22text-align%3Acenter%3B%22%20width%3D%22400%22%3E%3Cimg%20alt%3D%22Image%204%22%20class%3D%22slides%22%20onerror%3D%22this.src%3D%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FBarrelRestedCardinalGin.png%27%22%20src%3D%22BarrelRestedCardinalGin.png%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3E.75L%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ERegular%20Price%20%2430.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22small%22%3ESavings%20%243.00%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESale%20Price%20%2427.95%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0A%20%20%2F*%20HEY!%20If%20the%20moon%20were%20made%20out%20of%20spare%20ribs%2C%20would%20you%20eat%20it%3F%20I%20know%20I%20would..*%2F%0A%20%20var%20thisPotato%20%3D%200%3B%0A%20%20var%20potatoDiv%20%3D%20document.getElementById(%27rotatoPotato%27)%3B%0A%20%20var%20potatoes%20%3D%20potatoDiv.children%3B%0A%20%20var%20theonethatfadesin%2C%20theonethatfadesout%3B%0Awindow.contentType%3D%20%27slideshow%27%3B%0A%0A%20%20function%20opac%20(direction%2C%20v)%20%7B%0A%20%20%20%20if%20(direction%20%3D%3D%20%22in%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesin.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%20else%20if%20(direction%20%3D%3D%20%22out%22)%20%7B%0A%20%20%20%20%20%20theonethatfadesout.style.opacity%20%3D%20v%2F10%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeIn%20(obj)%20%7B%0A%20%20%20%20theonethatfadesin%20%3D%20obj%3B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3C%3D10%3Bi%2B%2B)%20%7B%0A%20%20%20%20%20%20setTimeout(%27opac(%22in%22%2C%20%27%2Bi%2B%27)%27%2C%2050*i)%3B%0A%20%20%20%20%7D%0A%20%20%7D%0A%0A%20%20function%20fadeOut%20(obj)%20%7B%0A%20%20%20%20var%20j%20%3D%200%3B%0A%20%20%20%20if%20(obj.style.opacity%20%3E%200)%20%7B%0A%20%20%20%20%20%20theonethatfadesout%20%3D%20obj%3B%0A%20%20%20%20%20%20for%20(var%20i%3D10%3B%20i%20%3E%3D%200%3B%20i--)%20%7B%0A%20%20%20%20%20%20%20%20j%2B%2B%3B%0A%20%20%20%20%20%20%20%20setTimeout(%27opac(%22out%22%2C%20%27%2Bi%2B%27)%27%2C%2050*j)%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%20%20%0A%20%20function%20switchPotato%20()%20%7B%0A%20%20%20%20for%20(var%20i%3D0%3Bi%3Cpotatoes.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(potatoes%5Bi%5D.innerHTML%20!%3D%20undefined)%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3D%3D%20thisPotato)%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeIn(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20%20%20fadeOut(potatoes%5Bi%5D)%3B%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20thisPotato%2B%2B%3B%0A%20%20%20%20if%20(thisPotato%20!%3D%20potatoes.length-1)%20window.switchSlide%20%3D%20setTimeout(%27switchPotato()%27%2C%208000)%3B%0A%20%20%7D%0A%20%20switchPotato()%3B%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[30] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0A%09background-repeat%3Ano-repeat%3B%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%3Csource%20src%3D%22DewarsnewpackageFlipTheSwitch.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FDewarsnewpackageFlipTheSwitch.ogv%22%20%2F%3E%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[31] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%20%7B%20background-color%3A%23000%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%20padding%3A0px%3B%20height%3A100%25%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%3E%0A%3Csource%20src%3D%22Rumvid_A.ogv%22%3E%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FRumvid_A.ogv%22%3E%0A%3C%2Fvideo%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[32] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ehtml%2C%20body%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%20height%3A100%25%3B%20width%3A100%25%3Bpadding%3A0%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3Ebody%2C%20html%20%7B%0Abackground-color%3A%23ffffff%3B%20color%3A%23000%3B%0Abackground-image%3Aurl%28%27Burnetts_1.jpg%27%29%2C%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fabc%2FABC-Cherry%2FBurnetts_1.jpg%27%29%3B%0Abackground-repeat%3Ano-repeat%3B%0Abackground-position%3Acenter%3B%0Aheight%3A100%25%3B%20width%3A100%25%3B%0Apadding%3A0%3B%20margin%3A0%3B%0A-webkit-background-size%3A%20contain%3B%0A-moz-background-size%3A%20contain%3B%0A-o-background-size%3A%20contain%3B%0Abackground-size%3A%20contain%3B%7D%0Ap%7Bmargin%3A0%3Bpadding%3A0%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3C%2Fbody%3E%3C%2Fhtml%3E';



        function wipeFrame (num) {
            if (debug == true) console.log('wipeFrame('+num+') - FRAME WIPE REQUESTED!');
            var iframe = (document.getElementById('Frame'+num).contentWindow || document.getElementById('Frame'+num).contentDocument);

            if (iframe.window.contentType == 'slideshow') {
                if (debug == true) console.log('wipeFrame('+num+') - Content contains a slideshow. Frame has been wiped!');
                iframe.clearTimeout(iframe.window.switchSlide);
                iframe.document.open();
                iframe.document.clear();
                iframe.document.write('slideshow');
                iframe.document.close();
            }
        }

        function Opac (opac) {
            if (opac <= 10) {
                document.getElementById('Frame'+plnum).style.opacity = (opac / 10);
                if (opac == 10) {
                    if (debug == true) document.getElementById('Frame'+plast).style.opacity = 0.25;
                    else document.getElementById('Frame'+plast).style.opacity = 0;
                }
            }
        }

        function Opac2 (opac) {
            if (opac >= 0) {
                document.getElementById('Frame'+plast).style.opacity = (opac / 10);
                if (opac == 0) {
                    if (debug == true) document.getElementById('Frame'+plast).style.opacity = 0.25;
                    else document.getElementById('Frame'+plast).style.opacity = 0;
                }
            }
        }

        function FrameIn () {
            if (debug == true) console.log('FrameIn() - Targeting frame '+plnum);
            var iframe = (document.getElementById('Frame'+plnum).contentWindow || document.getElementById('Frame'+plnum).contentDocument);
            var opac = document.getElementById('Frame'+plnum).style.opacity;

            if (opac < 1) {
                for (var i = 1; i<=10; i++) {
                    setTimeout('Opac('+i+')', fade_speed*i);
                }
            }

            var video =  document.getElementById('Frame'+plnum).contentWindow.document.getElementsByTagName('video');
            if ( video.length > 0 ) {
                if (debug == true) console.log('playing video on '+plnum);
                video[0].play();
            } else {
                if (debug == true) console.log('no video on '+plnum);
                var iframe = document.getElementById('Frame'+plnum);

                iframe.contentWindow.document.open();
                iframe.contentWindow.document.clear();
                iframe.contentWindow.document.write(rawurldecode(PLcontent[plnum]));
                iframe.contentWindow.document.close();
            }
        }

        function FrameOut () {
            if (debug == true) console.log('FrameOut() - Targeting frame '+plnum);
            var opac = document.getElementById('Frame'+plast).style.opacity;

            if (opac > 0) {
                var j=0;
                for (var i = 10; i>=0; i--) {
                    j++;
                    setTimeout('Opac2('+i+')', fade_speed*j);
                }
            }
        }

        function rawurldecode(str) {
            if (debug == true) console.log('rawurldecode( . . . )');
            return decodeURIComponent((str + '')
                    .replace(/%(?![\da-f]{2})/gi, function() {
                        return '%25';
                    }));
        }

        function nextPlaylistSlide() {
            if (debug == true || testing == true) console.log('nextPlaylistSlide() - Switching to frame '+plnum);

            for(var i = 0; i <= slides-1; i++){
                if (i != plast) {
                    if (debug == true) document.getElementById('Frame'+i).style.opacity = 0.25;
                    else document.getElementById('Frame'+i).style.opacity = 0;
                } else {
                    document.getElementById('Frame'+i).opacity = 1;
                }
            }

            if (plast+1 == slides) {
                document.getElementById('Frame'+plnum).style.opacity = 1;
                FrameOut();
            } else {
                FrameIn();
            }

            setTimeout(function() {
                plast = plnum;
                plnum++;
                if (plnum > slides-1) plnum=0;

                var iframe = (document.getElementById('Frame'+plnum).contentWindow || document.getElementById('Frame'+plnum).contentDocument);
                if (iframe.document.body.innerHTML == 'slideshow') {
                    if (debug == true) console.log('Re-Initializing slideshow on frame '+plnum);
                    iframe.document.open();
                    iframe.document.clear();
                    iframe.document.write(rawurldecode(PLcontent[plnum]));
                    iframe.document.close();
                }

                setTimeout(function () {
                    wipeFrame(plast);
                }, fade_speed*10);
                nextPlaylistSlide();


            }, PLtime[plnum]);
        }

        function cycleFrames () {
            if (debug == true) console.log('cycleFrames()');
            setTimeout('cycleFrames()', 1000);
            for (var i = 0; i <= slides-1; i++) {
                if (i != plnum) {
                    var video, q;
                    if (document.getElementById('Frame'+i).contentWindow) {
                        video = document.getElementById('Frame'+i).contentWindow.document.getElementsByTagName('video');
                    }
                    var vid_len = video.length;

                    if (vid_len > 0) {
                        for(q=0;q<vid_len;q++) {
                            if(video[q].currentTime > 0) {
                                if (video[q].readyState == 4) {
                                    video[q].currentTime = 0; // sets the video to play from beginning
                                    video[q].pause();
                                }
                            }
                        }
                    } else {
                        /*var iframe = document.getElementById('Frame'+i);

                         if (iframe.contentWindow.window.contentType == 'slideshow') {
                         console.log('Making sure slideshow on Frame '+i+' is stopped...');
                         iframe.contentWindow.clearTimeout(iframe.contentWindow.window.switchSlide);
                         }*/
                    }
                }
            }
        }

        function makeFrame (i) {
            if (debug == true) console.log('makeFrame('+i+')');
            var iframe = document.createElement('iframe');
            document.body.appendChild(iframe);

            iframe.transparency   = 'true';
            iframe.style.opacity  = 1;
            iframe.scrolling      = 'no';
            if (debug == false) iframe.style.position = 'absolute';
            iframe.style.top      = '0px';
            iframe.style.left     = '0px';
            iframe.style.width    = '1280px';
            iframe.style.height   = '768px';
            iframe.style.border   = '0px';
            iframe.id             = 'Frame'+i;
            iframe.zIndex         = i+1;
            //iframe.style.display = 'none';
            iframe.contentWindow.document.open();
            iframe.contentWindow.document.write(rawurldecode(PLcontent[i]));
            iframe.contentWindow.document.close();



            var video =  iframe.contentWindow.document.getElementsByTagName('video');
            if ( video.length > 0 ) {
                if (debug == true) console.log('Stopping video on '+i);
                video[0].pause();
            }


            if (iframe.contentWindow.window.contentType == 'slideshow') {
                iframe.contentWindow.clearTimeout(iframe.contentWindow.window.switchSlide);
                if (debug == true) console.log('Detected slideshow on Frame '+i+'. Content has been wiped!');
                if (i != 0) {
                    iframe.contentWindow.document.open();
                    iframe.contentWindow.document.clear();
                    iframe.contentWindow.document.write('slideshow');
                    iframe.contentWindow.document.close();
                }
            }

            if (i == slides-1) {
                document.getElementById('pl-cover').style.display = 'none';
            }
        }

        function setupStage() {
            if (debug == true) console.log('setupStage()');
            for (var i = 0; i <= slides-1; i++) {
                setTimeout('makeFrame('+i+')', preload*i);
            }
            setTimeout('nextPlaylistSlide()', slides*(preload+1));
            setTimeout('cycleFrames()', slides*(preload+1));
        }

        if (debug == true) document.body.style.backgroundColor = '#ff9f00';
        setupStage();
    </script><!-- end fix --></div>
