<style type="text/css">body { background-color:#fff; border:none; color:#000; margin:0px; 
	background-image:url(ABCBobPeters_TitosKombuchaMule-vid-bg.png), url(http://vi-digital.com/lib/vicorporatemenus/ABCBobPeters_TitosKombuchaMule-vid-bg.png); 
	background-repeat:no-repeat; padding:0px; height:100%;
}
</style>
<!--video style="position:absolute; top:0; left:50%; margin-left:-840px; width:1680px; height:768px;">
<source src="ABCBobPeters_TitosKombuchaMule.ogv" /> 
<source src="http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABCBobPeters_TitosKombuchaMule.ogv" />
</video-->