<style type="text/css">body { background-color:#000; border:none; color:#000; margin:0px; background-repeat:no-repeat; padding:0px; height:100%;}
</style>
<!--video style="position:absolute; top:0; left:0; width:100%; height:100%;">
<source src="DewarsnewpackageFlipTheSwitch.ogv" /> 
<source src="http://vi-digital.com/lib/abc/DewarsnewpackageFlipTheSwitch.ogv" />
</video-->