<style type="text/css">body { background-color:#000; border:none; color:#fff; margin:0px; padding:0px; height:100%;}
</style>
<!--video id="vid" style="position:absolute; top:0; left:0; width:100%; height:100%;">
<source src="JagerSpice.ogv" /> 
<source src="http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/JagerSpice.ogv" />
</video-->
<script type="text/javascript">
/*var video = document.getElementById('vid');
video.onplay = function(){
  video.volume = 0.3;
}*/
</script>
