<style type="text/css">body { background-color:#fff; border:none; color:#000; margin:0px; 
	background-image:url(MM_mm46_complicated-vid-bg.png), url(http://vi-digital.com/lib/abc/MM_mm46_complicated-vid-bg.png); 
	background-repeat:no-repeat; padding:0px; height:100%;
}
</style>
<!--video style="position:absolute; top:0; left:0; width:100%; height:100%;">
<source src="MM_mm46_complicated.ogv">
<source src="http://vi-digital.com/lib/abc/ABC-Cherry/MM_mm46_complicated.ogv">
</video-->