/*!
* ! cgr-theme > main.less       (Copyright (c) 2015 Todd Durica)
*/

/* Color Variables */
@c-ltpink : #DC75C5; /* Blue 900 */
@c-dkpink : #B83689; /* Blue A200 */
@c-purple : #5D1F79; /* Grey 300 */
@c-ltgrey : #F2F2F2; /* Grey 400 */
@c-dkgrey : #757575; /* Grey 600 */
@c-black  : #212121; /* Grey 900 */

/* General styles
 **************************************************/
body {
  font-size: 16px;  font-weight: 400;
  font-family: 'Lato', sans-serif;
  background: @c-black;

}
a,a:hover,a:focus {
  text-decoration: none;
  outline: 0;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
}


input[type=text],
input[type=email],
input[type=password],
textarea{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
textarea {
  height: auto;
}
input[type=submit]{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  -o-user-select: none;
//  user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
input[type=submit]:hover{
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}


/*TYPOGRAPHY*/
/* Header title size 	def:28 */
#profile .title h2{
  font-size: 28px !important;
}
#profile .title h3{
  font-size: 18px !important;
}
/* Menu text size 		def:14 */
ul#navigation li a{
  font-size: 14px !important;
}

/*
                           <xeee..
                       ueeeeeu..^"*$e.
                ur d$$$$$$$$$$$$$$Nu "*Nu
              d$$$ "$$$$$$$$$$$$$$$$$$e."$c
          u$$c   ""   ^"^**$$$$$$$$$$$$$b.^R:
        z$$#"""           `!?$$$$$$$$$$$$$N.^
      .$P                   ~!R$$$$$$$$$$$$$b
     x$F                 **$b. '"R).$$$$$$$$$$
    J^"                           #$$$$$$$$$$$$.
   z$e                      ..      "**$$$$$$$$$
  :$P           .        .$$$$$b.    ..  "  #$$$$
  $$            L          ^*$$$$b   "      4$$$$L
 4$$            ^u    .e$$$$e."*$$$N.       @$$$$$
 $$E            d$$$$$$$$$$$$$$L "$$$$$  mu $$$$$$F
 $$&            $$$$$$$$$$$$$$$$N   "#* * ?$$$$$$$N
 $$F            '$$$$$$$$$$$$$$$$$bec...z$ $$$$$$$$
'$$F             `$$$$$$$$$$$$$$$$$$$$$$$$ '$$$$E"$
 $$                  ^""""""`       ^"*$$$& 9$$$$N
 k  u$                                  "$$. "$$P r
 4$$$$L                                   "$. eeeR
  $$$$$k                                   '$e. .@
  3$$$$$b                                   '$$$$
   $$$$$$                                    3$$"
    $$$$$  dc                                4$F
     RF** <$$                                J"
      #bue$$$LJ$$$Nc.                        "
       ^$$$$$$$$$$$$$r
         `"*$$$$$$$$$
*/

/* layout
 **************************************************/
#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#main {
  position: relative;
  overflow: hidden;

  max-width:1670px;
}

.cgr-page {
  overflow:hidden;
  position: relative;
  width: 85%;
  background-color: #f7f7f7;
}

.home {
//  overflow:hidden;
  position: relative;
  width: 100%;
  background: #000000;
//  background: #5d1f79; /* Old browsers */
//  background: -moz-linear-gradient(top,  #5d1f79 0%, #b83689 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d1f79), color-stop(100%,#b83689)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top,  #5d1f79 0%,#b83689 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top,  #5d1f79 0%,#b83689 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top,  #5d1f79 0%,#b83689 100%); /* IE10+ */
//  background: linear-gradient(to bottom,  #5d1f79 0%,#b83689 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d1f79', endColorstr='#b83689',GradientType=0 ); /* IE6-9 */

}

.loading{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left:50%;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
}
#runner {
  position: absolute;
  width: 30px;
  height: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 2000;
}

.currentpage {
  -webkit-box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
  box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
}
#copyright{
  text-align:center;
  font-size:0.7em;
  color: #8E8E8E;
  margin-bottom: 5px;
}
/* page specifics
 **************************************************/
.page-container {
  position: relative;
  background: none repeat scroll 0% 0% #FFF;
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  box-shadow: 0px 0px 10px #888;

  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px 30px;
}


.pageheadsect {
  background: #f3f3f3;
  position: relative;
  padding: 5px 0 4px 0;
  margin-top:30px;
}

/* .pageheader:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(8, 4, 13, 0);
	border-top-color: #f3f3f3;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
	z-index: 1;
}
 */
.headsectcontent .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px 0;
  text-align: center;

}

.headsectcontent .subtitle {
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
  padding: 5px 0;
}

.headsectcontent .subtitle h3 {
  margin: 0;
  padding: 0;
}

.cgr-page .section{
  padding: 70px 20px;
  position: relative;
  background: none repeat scroll 0% 0% #FFF;
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  box-shadow: 0px 0px 10px #888;

  max-width: 98%;
  height: auto;
  margin: 15px auto;
  padding-bottom: 30px;
}

.color-1 {
  background: #fcfcfc;
}

.color-2 {
  background: #f7f7f7;
}

.color-3 {
  background: #2c2c2d;
  color: #fff;
}

.color-4 {
  background: #000;
}

.section .title {
  border-bottom: 1px solid #ccc;
  margin: 0 0 30px 0;
  padding: 20px 0;
}


/*
                   __~a~_
                   ~~;  ~_
     _                ~  ~_                _
    '_\;__._._._._._._]   ~_._._._._._.__;/_`
    '(/'/'/'/'|'|'|'| (    )|'|'|'|'\'\'\'\)'
    (/ / / /, | | | |(/    \) | | | ,\ \ \ \)
   (/ / / / / | | | ~(/    \) ~ | | \ \ \ \ \)
  (/ / / / /  ~ ~ ~   (/  \)    ~ ~  \ \ \ \ \)
 (/ / / / ~          / (||)|          ~ \ \ \ \)
 ~ / / ~            M  /||\M             ~ \ \ ~
  ~ ~                  /||\                 ~ ~
                      //||\\
                      //||\\
                      //||\\
                      '/||\'
*/

/*
           ||          ||
    \------||| /\/\/\ |||------/
     \     |||  |---| |||     /
      \   |!!|  |\_/| |!!|   /
       \  |!|   || ||  |!|  /
        \  |    \___/   |  /
         \ |  /------\  | /
          \| /        \ |/
           |            |
*/


/*
     0000             0000        7777777777777777/========___________
   00000000         00000000      7777^^^^^^^7777/ || ||   ___________
  000    000       000    000     777       7777/=========//
 000      000     000      000             7777// ((     //
0000      0000   0000      0000           7777//   \\   //
0000      0000   0000      0000          7777//========//
0000      0000   0000      0000         7777
0000      0000   0000      0000        7777
 000      000     000      000        7777
  000    000       000    000       77777
   00000000         00000000       7777777
     0000             0000        777777777
*/
/* DYNAMIC --converted to=> STATIC*/
/*logo circle off*/



ul.ul-dates div.dates span,
ul.ul-card li .dy .degree,
ul.timeline li .date,
#labp-heads-wrap,
.ul-withdetails li .imageoverlay,
.cd-active.cd-dropdown ul li span:hover,
.listingmain .listingassets a.listingcollapse,
.wkitems .listingmain .listingassets a:hover,
.wkitems .listingmain .listingassets a:focus,
.wkitems .listingmain .listingassets a.listingcollapse,
.commentlist .reply{
  background-color: #3C544D !important;
}
.ul-boxed li,
ul.timeline li .data,.widget ul li{
  border-left-color:#3C544D !important;
}
/* Darker Color */
ul.ul-dates div.dates span:last-child,
ul.ul-card li .dy .year,
ul.timeline li.open .circle{
  background-color: #e0E0E0 !important;
}
ul.timeline li.open .data {
  border-left-color: #e0E0E0 !important;
}
.wkitems .listingmain .listingassets {
  border-top-color: #e0E0E0 !important;
}
/* Header row background color */
.cgr-page #inside >.wpb_row:first-child:before {
  border-top-color: #BDBDBD !important;
}
.cgr-page #inside >.wpb_row:first-child,
.pageheadsect {
  /* 	background-color: #BDBDBD !important;
   */}
.cgr-page #inside >.wpb_row:first-child:before,
.pageheadsect:after {
  border-top-color: #ffffff !important;
}
/* Page Odd rows color */
/* .cgr-page #inside >.wpb_row:nth-child(odd),
.cgr-page .section:nth-child(odd){
	background-color: #e0E0E0 !important;
}
 *//* Page Even rows color */
/* .cgr-page #inside >.wpb_row:nth-child(even),
.cgr-page .section:nth-child(even){
	background-color: #448AFF !important;
}
 */

/* Boxed elements background color */
ul.ul-card li,
ul.timeline li .data,
.ul-boxed li,
.ul-withdetails li,
.wkitems .listingmain,
.commentlist li{
  background-color: #e0E0E0 !important;
}

/* Boxed elements alternative background color,
some boxed els need to be slightly darker or lighter... */
ul.timeline li.open .data,
.ul-withdetails li .details,
#lab-details,
.wkitems .listingdetails,
.commentlist .comment-author-admin{
  background-color: #bdbdbd !important;
}

/* Blog hide show expandicon color */
a#hideshow,#hideshow i{
  color: #e0E0E0 !important;
}
/* Blog list header color */
/* Blog list header text color */
.archive-headsect{
  background-color: 	#e0E0E0 !important;
  color: 				#738784 !important;
}

/*
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
*/



/* contact
 **************************************************/


/*.contact-office .icon-huge, .contact-lab .icon-huge{
	color: #03cc85;
}*/


.icon-huge {
  font-size: 170px;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
  display: block;
  padding-top: 30px;
}


/* wordpress defaults
**************************************************/
.sticky{}
.wp-caption-text{}
.wp-caption-text{}
.gallery-caption{}
.alignright{
  float:right;
}
.alignleft{
  float:left;
}
.aligncenter{
  text-align: center;
}
.widgettitle{
  border-bottom: 1px solid #ccc;
  margin: 0 0 30px 0;
  padding: 20px 0;
}
.widget ul{
  margin:0;
  padding:0;
  list-style: none;
}
.widget ul li{
  line-height: 1;
  padding: 12px;
  background-color: #FdFdFd;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 3px -3px #ccc;
  box-shadow: 0px 3px 3px -3px #ccc;
  border-radius: 2px;
  border-left: 5px solid;
}
.widget ul li a {
  color:#666;
}
.widget ul li a:hover{
  text-decoration: underline;
}
.widget ul li:hover{
  background-color: #fff;
}


/* sharing
**************************************************/
.googleplusone{
  display: inline;
  position: relative;
  top: 6px;
}
#fb-root{
  display:none;
}
.twittershare{
  display: inline;
  position: relative;
  top: 6px;
}

/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */
/* default.css */

.ul-boxed li {
  border-left-color:#03cc85;
}
ul.ul-card li .dy .year {
  background-color: #03cc85;
}
ul.ul-dates div.dates span {
  background-color: #03cc85;
}
ul.timeline li .date {
  background: #03cc85;
}
ul.timeline li .data {
  border-left-color: #03cc85;
}
.ul-withdetails li .imageoverlay {
  background: #03cc85;
}
.cd-active.cd-dropdown > span {
  color: #03cc85;
}
.cd-active.cd-dropdown ul li span:hover {
  background: #03cc85;
}
.wkitems .listingmain .listingassets {
  border-top-color:#03cc85;
}
.wkitems .listingmain .listingassets a:hover,.wkitems .listingmain .listingassets a:focus,.wkitems .listingmain .listingassets a.listingcollapse {
  background: #03cc85;
}

.widget ul li{
  border-left-color: #03cc85;
}


/* secondary color
**************************************************/
ul.ul-card li .dy .degree {
  background-color: #03bb7a;
}
ul.ul-dates div.dates span:last-child {
  background-color: #03bb7a;
}
ul.timeline li.open .circle {
  background-color: #03bb7a;
}
ul.timeline li.open .data {
  border-color: #03bb7a;
}
#labp-heads-wrap {
  background-color: #03bb7a;
}
#labp-heads-wrap:after{
  border-top-color: #03bb7a;
}











