/*IE hack for responsive images*/
@ie8: \0screen; @media @ie8 { img { width: auto; /* for ie 8 */ }}






@media screen and (min-width: 550px){

}

@media (min-width: 700px) {
  .mobile_nav_trigger {
    display: none;

  }
}


@media screen and (min-width: 1560px) {
  .page-container {
    max-width: 1200px;

  }
}


