
@font-face {font-family: "EurostileExt2";src: url("../fonts/EurostileExt2.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
* {font-family:"EurostileExt2", sans-serif;}
body{background: black url("../img/space.jpg") no-repeat fixed left center;
    background-size: cover;}
.font1 {font-family: 'EurostileExt2', sans-serif;}
#viheader{
    line-height:1;
    position: fixed;
    right: 0;
    width: 320px;
    margin: 0 auto;
    opacity:0.5;
    padding:0;
    font-size:32px;
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    cursor:default;
    z-index:-1000;
}
@keyframes slidein {
    from {margin-right: 100%;width: 100%;}to {margin-right: 0; width: 320px;}
}

#playlistpre{
    color: #fff;
    background-color: #000;
    overflow:scroll;
    white-space:nowrap;
    height:700px;
    width: 100%;
}
#playlistpre2{
    color: #fff;
    background-color: #000;
    overflow:scroll;
    white-space:nowrap;
    height:700px;
    width: 900px;
}

